<link href="/css/recipes/all.css" rel="stylesheet">

<div class="container">
    <ul class="tag-list">
        {{#each tags}}
            <li>
                <button id="tag-{{id}}" class="tag btn {{#if selected}}btn-primary{{else}}btn-danger{{/if}}">{{title}}</button>
            </li>
        {{/each}}
    </ul>

    <ul class="recipe-list">
        {{#each recipes}}
            <li><a href="/recipe/{{id}}">{{title}}</a></li>
        {{/each}}
    </ul>
</div>

<script src="/js/recipes/all.js"></script>